<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/increment" method="post">
        <h1>Counter</h1>
        <p>{{counter['counter']}}</p>
        <h1>Real user viwes</h1>
        <p>{{counter['visits']}}</p>
        <input type="submit" name="add2" value="+2">
    </form>
    <form action="/reset" method="post">
        <input type="submit" name="reset" value="reset">
    </form>
    <form action="/addNum" method = "post">
        <label for="number">Choose the number you want to add:</label>
        <input type="number" name="number">
        <input type="submit" value="Add number">
    </form>
</body>
</html>